<nav class="collapse" id="supplierPicker">
  <div class="p-a inverse">
    <div class="container">
      <div class="row strong text-center suppliers">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 p-y">
          <a href="#">Adama</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 p-y">
          <a href="#">BASF</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 p-y">
          <a href="#">Bayer</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 p-y">
          <a href="#">CropCare</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 p-y">
          <a href="#">Merial</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 p-y">
          <a href="#">Nufarm</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 p-y">
          <a href="#">Sinochem</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 p-y">
          <a href="#">Sumitomo</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 p-y">
          <a href="#">Syngenta</a>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 p-y">
          <a href="#">United Phosphorus</a>
        </div>
      </div>

    </div>
  </div>
</nav>
