<footer class="inverse">

  <div class="container small p-y-lg">

    <div class="row strong">

      <div class="col-xs-3 col-md-2">
        <a href="/">Profile</a>
      </div>
      <div class="col-xs-3  col-md-2">
        <a href="">About</a>
      </div>
      <div class="col-xs-3  col-md-2">
        <a href=""><span class="hidden-xs">User </span>Guide</a>
      </div>
      <div class="col-xs-3 col-md-6 text-right" >
        <a href="">Log out</a>
      </div>

    </div>

  </div>

</footer>
