{% include supplier-picker.html %}

<header>

  <nav class="navbar navbar-light container" >

    <div class="row">

      <div class=" col-xs-12 col-sm-4">
        <h1 class="title">
          <span class="text-muted">AIMS</span>&#8239;<span class="text-muted"><small>by</small></span>&#8239;
          {% include logo.html %}
        </h1>
      </div>

      <div class="col-xs-12 col-sm-8 text-right">
        <h1 class="supplier text-primary">
          <span data-toggle="collapse" data-target="#supplierPicker">United Phosphorous</span>
        </h1>
      </div>

    </div>

    <hr class="m-t-xs">

  </nav>

</header>
