{% include supplier-picker.html %}

<header>

  <nav class="navbar navbar-light container" style="margin-bottom: 0;">

    <div class="row " style="margin-top: 0.5rem;">

      <div class="col-xs-12 col-sm-6">
        <h1 class="title">
          <span class="text-muted">AIMS</span>&#8239;<span class="text-muted"><small>by</small></span>&#8239;
          {% include logo.html %}
        </h1>
      </div>

      <div class="col-xs-12 col-sm-6 text-right">
        <h1 class="supplier text-primary">
          <span data-toggle="collapse" data-target="#supplierPicker" style="cursor: pointer">Syngenta</span>
        </h1>
      </div>

    </div>

    <hr style="margin-top: 0.5rem;">

  </nav>

</header>
