<nav class="hidden-sm hidden-xs small">

  <div class="col-md-2 p-b-md">

    <div class="list-group m-b">
      <a class="list-group-item active" href="#">Sales</a></li>
      <a class="list-group-item" href="#">Movements</a></li>
      <a class="list-group-item" href="#">Stock Check</a></li>
      <a class="list-group-item" href="#">Stock Status</a></li>
      <a class="list-group-item" href="#">Forecasting</a></li>
      <a class="list-group-item" href="#">Transactions</a></li>
    </div>

    <div class="list-group">
      <a class="list-group-item" href="#">Reports</a></li>
      <a class="list-group-item" href="#">Uploads</a></li>
    </div>

  </div>

</nav>
