<nav id="side" class="hidden-xs hidden-sm col-md-2 p-b-md small">

  <div class="list-group m-b">
    <a class="list-group-item" href="#">Sales</a></li>
    <a class="list-group-item" href="#">Movements</a></li>
    <a class="list-group-item" href="#">Stock Check</a></li>
    <a class="list-group-item" href="#">Stock Status</a></li>
    <a class="list-group-item" href="#">Forecasting</a></li>
    <a class="list-group-item" href="#">Reconciliations</a></li>
    <a class="list-group-item" href="#">Transactions</a></li>
  </div>

  <div class="list-group">
    <a class="list-group-item active" href="config.html">Config</a></li>
    <a class="list-group-item" href="#">Mailshots</a></li>
    <a class="list-group-item" href="#">Reports</a></li>
    <a class="list-group-item" href="#">Uploads</a></li>
  </div>

</nav>
