@import "bootstrap/variables";

.blur {
  -webkit-filter: blur(3px);
}

.strong {
  font-weight: 500;
}

table th,
table td {
  vertical-align: middle !important;
}

footer {
  background-image: linear-gradient(to right, $f4f, $brand-primary);
  padding-bottom: 96px;
  a, a:hover {
    color: #eee;
  }
}

nav.top-nav {
  .nav-link {
    padding-right: 2rem;
    line-height: 2em;
  }
}

#supplierPicker {
  background-color: #373a3c;
  a, a:hover {
    color: #eceeef;
  }
}

header {
  .navbar {
    margin-bottom: 0;
  }
  svg {
    position: absolute;
    top: 18px;
  }
}

h1.supplier {
  cursor: pointer;
}


// narrow
@media (max-width: 767px) {
  h1.supplier {
    margin-top: 0;
  }
  h1.title {
    margin-bottom: 6px;
  }
}

