@import "bootstrap/variables";

.blur {
  -webkit-filter: blur(3px);
}

.strong {
  font-weight: 500;
}

table th,
table td {
  vertical-align: middle !important;
}

footer {

  a, a:hover {
    color: #eee;
  }
}

nav.top-nav {
  .nav-link {
    padding-right: 1rem;
    line-height: 2em;
  }
}

header,
section#main {
  background-color: white;
}

body {
  background-image: linear-gradient(to right, $f4f, $brand-primary);
}

#supplierPicker {
  background-color: #373a3c;
  a, a:hover {
    color: #eceeef;
  }
}

// narrow
@media (max-width: 767px) {
  h1.supplier {
    margin-top: 0;
  }
  h1.title {
    margin-bottom: 6px;
  }
}
