h1,
h2 {
  @include widget;
  padding-top: 6px;
}

h2.summary span {
  color: $gray-light;
}

h4.logo {
  margin: 0;
  padding-top: 4px;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid $gray-lighter;
}

.container {
  padding: 20px;
}

.alert {
  padding-top: 8px;
  padding-bottom: 8px;
}

.lead {
  font-size: 125%;
}

.post-it {
  @include highlight;
  @include widget;
  @include border-radius(4px);
  padding: 12px;

  border: 1px solid $gray-lighter;
  color: $gray;
}

.note {
  @include widget;
  @extend small;
  border-left: 1px solid $gray-lighter;
  padding-left: 10px;
  padding-right: 10px;
}

.note-right {
  @extend .note;
  text-align: right;
  border-right: 1px solid $gray-lighter;
  border-left: none;
}

.minimal-flash {
  @extend .text-muted;
  @extend small;
  @include highlight;
  margin-bottom: 8px;
  padding: 8px 8px;
  text-align: center;
  @include border-radius(4px);
  border: 1px solid $gray-lighter;
  @include rotate(-1deg);
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}

.flash {
  @extend .minimal-flash;
  position: relative;
  top: 40px;
  margin-top: -48px;
  @include rotate(-1deg);
}

div.row-icon {
  div:first-child {
    font-size: 48px;
    line-height: 44px;
  }
  div:nth-child(2) {
    padding-left: 0;
  }
}

.widget {
  @include widget;
}

.demi-widget {
  margin-bottom: 12px;
}

.highlight {
  @include highlight;
}

.text-very-muted {
  color: $gray-lightish;
}

.nowrap {
  white-space: nowrap;
}

.inline-glyphicon {
  font-size: 90%;
}

strong,
.strong {
  font-weight: $headings-font-weight;
}

.request-count {
  position: absolute;
  top: -12px;
  left: 32px;
  @include border-radius(24px);
}

.first {
  font-size: 120%;
  margin-bottom: 15px; // 120%;
  font-weight: 300;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.very-small {
  font-size: 75%;
}

.trial {
  .btn-block {
    margin-bottom: 6px;
  }
  margin-bottom: 24px;
}

body.development {
  //  background-color: rgba(255,255,204, 0.25);
}

ol.data-entry {
  list-style-position: outside;
  padding-left: 24px;

  li {
    font-weight: $headings-font-weight;
    padding-bottom: 4px;
  }
  div {
    padding-bottom: 8px;
  }
}

div.minimal-footer {
  div {
    padding-bottom: 16px;
  }
}

.div-link {
  cursor: pointer;
}